---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { formatList } from "astro/dist/runtime/server/render/util";
import LanguagePicker from '../components/LanguagePicker.astro';
import { getLangFromUrl } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
export interface Props {
	title: string;
	keyword?: string;
	description?: string;
}

const { title, keyword='', description=''} = Astro.props;
// const { minutesRead } = Astro.props.frontmatter;
---

<!DOCTYPE html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon1.svg" /> -->
		<meta name="generator" content={Astro.generator} />
		{keyword && <meta name="keyword" content={keyword} />}
		{description && <meta name="description" content={description} /> }
		<title>{title}</title>
	</head>
	<body>
		<Header/>
		<!-- <LanguagePicker/> -->
		<!-- <p>{minutesRead}</p> -->
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: white;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
	html.dark {
    background-color: #0d0950;
    color: #fff;
  }
  
  .dark .nav-links a {
    color: #fff;
  }
</style>
